.menu {
    display: flex;
    justify-content: space-between;
}

.menu__block {
    color: $white;
}

.menu__list {
    display: flex;
    justify-content: space-between;
}

.menu__items {
    margin-left: 20px;
}