.footer {
	background-color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    margin: 0 auto;
}


.footer__data {
	margin: rem(5px);
	width: 80%;
	display: flex;
	justify-content: space-between;

	@include phones {
		flex-direction: column;
		align-items: center;
		padding: rem(15px);
		width: 60%;
	}
}

.footer__list {
	display: flex;
}

.footer__items {
	margin-right: rem(20px);
	transition: 0;
	cursor: pointer;
	background: url('../img/icons/icons_sprite.png');
	width: rem(26px);
	height: rem(24px);
}

.footer__items:nth-child(1) {
	background-position: -185px -5px;
}

.footer__items:nth-child(1):hover {
	background-position: -218px -5px;
}

.footer__items:nth-child(2) {
	background-position: -35px -5px;
}

.footer__items:nth-child(2):hover {
	background-position: -5px -5px;
}

.footer__items:nth-child(3) {
	background-position: -65px -5px;
}

.footer__items:nth-child(3):hover {
	background-position: -95px -5px;
}

.footer__items:nth-child(4) {
	background-position: -125px -5px;
}

.footer__items:nth-child(4):hover {
	background-position: -155px -5px;
}

.footer__adres {
	font-size: rem(18px);

	@include phones {
		margin-bottom: rem(5px);
		font-size: rem(14px);
		align-text: center;
	}
}

.footer__contacts {
	margin: 0;
	display: flex;

	@include phones {
		justify-content: center;
	}
}

.footer__tel {
	color: $green;

	@include phones {
		margin-bottom: rem(5px);
	}
}