.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}


.footer__data {
	width: 100%;
	display: flex;
	justify-content: space-between;

	@include phones {
		flex-direction: column;
		align-items: center;
		padding: rem(15px);
	}
}

.footer__list {
	display: flex;
}

.footer__items {
	margin-right: rem(20px);
	width: rem(20px);
	height: rem(20px);
	transition: 0;
	cursor: pointer;
}

.footer__items {
	background: url('../img/icons/icons_sprite.png');
	width: 23px;
	height: 20px;
}

.footer__items:nth-child(1) {
	background-position: -185px -5px;
}

.footer__items:nth-child(1):hover {
	background-position: -218px -5px;
}

.footer__items:nth-child(2) {
	background-position: -35px -5px;
}

.footer__items:nth-child(2):hover {
	background-position: -5px -5px;
}

.footer__items:nth-child(3) {
	background-position: -65px -5px;
}

.footer__items:nth-child(3):hover {
	background-position: -95px -5px;
}

.footer__items:nth-child(4) {
	background-position: -125px -5px;
}

.footer__items:nth-child(4):hover {
	background-position: -155px -5px;
}

.footer__adres {
	font-size: rem(18px);

	@include phones {
		margin-bottom: rem(5px);
	}
}

.footer__contacts {
	margin: 0;
	display: flex;

	@include phones {
		justify-content: center;
	}
}

.footer__tel {
	color: $green;

	@include phones {
		margin-bottom: rem(5px);
	}
}