.order {
    display: flex;
    justify-content: space-around;
    color: $green;
    margin-top: rem(30px);

    @include tablets {
        flex-direction: column;
        align-items: center;
        padding: 0 15%;
    }

    @include phones {
        width: 95%;
        padding: 3%;
        margin-top: rem(5px);
    }
}

.order__col1,
.order__col2 {
    width: 45%;
    display: flex;
    flex-direction: column;

    @include tablets {
        width: 100%;
    }
}

.order__label {
    display: flex;
    flex-direction: column;
    font-family: 'ubuntu-light';
    font-size: rem(18px);
    margin-right: rem(20px);

    @include phones {
        font-size: rem(16px);
        margin-right: rem(10px);
    }

}

.order__input {
    margin-top: rem(10px);
    margin-right: rem(20px);
    padding: rem(15px) rem(10px);
    font-size: rem(14px);
    border: rem(1px) solid $green;
    width: 100%;
    height: 100%;
    border: none;
}

.order__list,
.order__pay,
.order__callback,
.order__button {
    margin-top: rem(20px);

    @include phones {
        margin-top: rem(10px);
    }

}

.order__pay,
.order__callback,
.order__button {
    margin: 0 auto;
    padding: rem(20px);

    @include phones {
        padding: rem(10px);
    }
}

.order__input-textarea {
    height: rem(180px);
    resize: none;
    font-size: rem(14px);

    @include phones {
        height: rem(150px);
    }
}

.order__input:focus {
    border: 2px solid $yellow;
    /* Рамка при получении фокуса */
}

.order__street {
    margin-top: rem(30px);

    @include phones {
        margin-top: rem(10px);
    }
}

.order__contact {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.order__name,
.order__tel {
    width: 50%;
}

.order__numbers {
    display: flex;
    justify-content: space-between;
}


.order__radio {
    display: flex;
    justify-content: flex-start;
}


.order__button {
    display: flex;
    justify-content: flex-start;

    @include phones {
        justify-content: center;
    }
}

.order__callback,
.order__pay {
    @include phones {
        margin: 0 auto;
    }
}

.order__list {
    display: flex;
    width: 100%;
}

.order__item {
    width: 25%;
}


/*   радио батоны   */


.order__radio {
    display: none;
}

.order__radio-lbl {
    display: inline-flex;
    align-items: center;
    padding: rem(5px);

}

.order__radio-text {
    opacity: 0.5;
}

.order__radio-custom {
    display: block;
    width: rem(20px);
    height: rem(20px);
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;
    margin-right: rem(10px);
    position: relative;
}

.order__radio-custom:after {
    content: '';
    display: block;
    width: rem(7px);
    height: rem(7px);
    background-color: $green;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
}

.order__radio:checked+.order__radio-custom:after {
    opacity: 1;

}

.order__radio:checked+.order__radio-custom+.order__radio-text {
    opacity: 1;
    font-weight: bold;
}

/*стилизация чекбокса*/

.order__check {
    display: none;
}

.order__check-lbl {
    display: flex;
}

.order__check-text {
    opacity: 0.5;
}

.order__check-custom {
    display: block;
    width: rem(20px);
    height: rem(20px);
    border: 1px solid $grey;
    margin-right: rem(10px);
    position: relative;
}

.order__check-custom:after {
    content: '\2714';
    position: absolute;
    top: 0;
    left: 10%;
    right: 0;
    bottom: 0%;
    margin: auto;
    opacity: 0;

}

.order__check:checked+.order__check-custom:after {
    opacity: 1;
    color: $green;

}

.order__check:checked+.order__check-custom+.order__check-text {
    opacity: 1;
    font-weight: bold;
}


.order__btn-submit {
    margin-right: rem(20px);
    border: 0;
    background: $green;
    font-family: 'ubuntu-medium';
    font-size: rem(13px);
    text-transform: uppercase;
    border-radius: rem(5px);
    color: $white;
    padding: rem(15px) rem(25px);
    cursor: pointer;
    border-radius: rem(25px);

    @include tablets {
        padding: rem(20px) rem(30px);
    }

    @include phones {
        padding: rem(15px) rem(20px);
    }
}

.order__btn-reset {
    padding-left: 0;
    padding-right: 0;
    text-transform: none;
    background: transparent;
    color: $green;
}