.whychocco__desc {
    width: 40%;
    color: $grey;
    text-align: center;

    @include tablets {
        width: 60%;
    }

    @include phones {
        width: 85%;
        font-size: rem(14px);
    }
}